<nav>

  <div class="left">
    <a href="/trivia">Explore Quizzes</a>

    <div class="dropdown">
      <button class="dropbtn">My Trivia Library</button>
      <div class="dropdown-content">
        <a href="/users/trivias">All Trivia Quizzes</a>
        <a href="/trivia/new">Create</a>
        <a href="/results">Results</a>
      </div>
    </div>
  </div>

  <div class="center">
    <a href="/">Quiz-App</a>


  </div>

  <div class="right">
    <% if(!currentUser) {%>
      <a class="nav-link" href="/users/login">Login</a>
      <a class="nav-link" href="/users/register">Register</a>
      <%} else {%>
        <a class="nav-link" href="/users/logout">Logout</a>
        <% } %>

  </div>

</nav>

<%- include('./flash.ejs') %>