<nav>

  <div class="left">
    <a href="">Explore Trivia Quizzes</a>
  </div>

  <div class="middle">
    <a href="">Quiz-App</a>
  </div>

  <div class="right">

  </div>


</nav>


app name
all public trivia

all trivia belonging to user
create
edit/delete
results




login