<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonts -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Changa:wght@700;800&family=Poppins:wght@400;500&family=Roboto&display=swap" rel="stylesheet">


<script src="https://kit.fontawesome.com/08bcc62d8b.js" crossorigin="anonymous"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <title>Home</title>

  <link rel="stylesheet" href="/styles/navbar.css">
</head>
<body>
  <%- include('../views/partials/navbar.ejs') %>
  <h1>Home Page</h1>
  <a href="/trivia">Explore Trivia Quizzes</a>
  <a href="/trivia/new">Create New Quiz</a>
</body>
</html>