
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px;
background-color: #30247c;
font-family: 'Barlow', sans-serif;
font-weight: 100;
color: white;
z-index: inherit

}

/* Dropdown Button */
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  background-color: #30247c;
  padding: 8px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 3px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
}

.dropbtn{
  font-size: 16px;
  cursor: pointer;
}

.nav{
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding-left: 15px;
  letter-spacing: 2px;
}

.nav:hover{
  text-decoration: none;
  color: white;

}

.nav-link{
  text-decoration: none;
  color: white;
}

.nav-link:hover{
  text-decoration: none;
  color: white;
}

#app-name{
padding-left: 0px;
font-size: 25px;
font-weight: 300;
color: white;
}


.center{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.left{
  width: 30%;
  display: flex;
  flex-direction: row;
}
.right{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.logout{
letter-spacing: 0;
font-size: 16px;
padding: 0 0 0 40px;
}

.welcome{
  padding-right: 10px;
}