<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>New Quiz</title>

  <link rel="stylesheet" href="/styles/navbar.css">

</head>

<body>
  <%- include('../../views/partials/navbar.ejs') %>

  <div class="col-6 offset-3">
    <h1>New Quiz Form</h1>
    <form method="POST" action="/trivia/new" class="validate-form">
      <section class="form-box">
        <div class="mb-3">
          <label for="title" class="form-label">Quiz Title</label>
          <input type="text" class="form-control" name="title" id="title" placeholder="Title" required>

        </div>
      </section>

      <section class="form-box">
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" name="description" id="description" rows="3" required></textarea>
        </div>
      </section>

      <div>
        <input type="radio" name="is_public" value="true" checked /> Quiz is public
      </div>
      <div class="private">
        <input type="radio" name="is_public" value="false" /> Quiz is private
      </div>

      <section class="form-box">
        <div class="mb-3">
          <label for="question" class="form-label">Question 1</label>
          <input type="text" class="form-control" name="question" id="question" placeholder="Question" required>
        </div>
        <div class="mb-3">
          <label for="option" class="form-label">Option</label>
          <input type="text" class="form-control" name="options" id="options"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options" id="options"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options" id="options"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options" id="options"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
        </div>
        <div class="mb-3">
          <label for="correct_option" class="form-label">Correct Answer</label>
          <input type="text" class="form-control" name="correct_option" id="correct_option" placeholder="" required>
        </div>
      </section>

      <section class="form-box">
        <div class="mb-3">
          <label for="question" class="form-label">Question 2</label>
          <input type="text" class="form-control" name="question2" id="question2" placeholder="Question" required>
        </div>
        <div class="mb-3">
          <label for="option" class="form-label">Option</label>
          <input type="text" class="form-control" name="options2" id="options2"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options2" id="options2"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options2" id="options2"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options2" id="options2"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
        </div>
        <div class="mb-3">
          <label for="correct_option" class="form-label">Correct Answer</label>
          <input type="text" class="form-control" name="correct_option2" id="correct_option2" placeholder="" required>
        </div>
      </section>

      <section class="form-box">
        <div class="mb-3">
          <label for="question" class="form-label">Question 3</label>
          <input type="text" class="form-control" name="question3" id="question3" placeholder="Question" required>
        </div>
        <div class="mb-3">
          <label for="option" class="form-label">Option</label>
          <input type="text" class="form-control" name="options3" id="options3"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options3" id="options3"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options3" id="options3"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options3" id="options3"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
        </div>
        <div class="mb-3">
          <label for="correct_option" class="form-label">Correct Answer</label>
          <input type="text" class="form-control" name="correct_option3" id="correct_option3" placeholder="" required>
        </div>
      </section>

      <section class="form-box">
        <div class="mb-3">
          <label for="question" class="form-label">Question 4</label>
          <input type="text" class="form-control" name="question4" id="question4" placeholder="Question" required>
        </div>
        <div class="mb-3">
          <label for="option" class="form-label">Option</label>
          <input type="text" class="form-control" name="options4" id="options4"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options4" id="options4"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options4" id="options4"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options4" id="options4"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
        </div>
        <div class="mb-3">
          <label for="correct_option" class="form-label">Correct Answer</label>
          <input type="text" class="form-control" name="correct_option4" id="correct_option4" placeholder="" required>
        </div>
      </section>

      <section class="form-box">
        <div class="mb-3">
          <label for="question" class="form-label">Question 5</label>
          <input type="text" class="form-control" name="question5" id="question5" placeholder="Question" required>
        </div>
        <div class="mb-3">
          <label for="option" class="form-label">Option</label>
          <input type="text" class="form-control" name="options5" id="options5"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options5" id="options5"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options5" id="options5"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options5" id="options5"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
        </div>
        <div class="mb-3">
          <label for="correct_option" class="form-label">Correct Answer</label>
          <input type="text" class="form-control" name="correct_option5" id="correct_option5" placeholder="" required>
        </div>
      </section>

      <section class="form-box">
        <div class="mb-3">
          <label for="question" class="form-label">Question 6</label>
          <input type="text" class="form-control" name="question6" id="question6" placeholder="Question" required>
        </div>
        <div class="mb-3">
          <label for="option" class="form-label">Option</label>
          <input type="text" class="form-control" name="options6" id="options6"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options6" id="options6"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options6" id="options6"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options6" id="options6"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
        </div>
        <div class="mb-3">
          <label for="correct_option" class="form-label">Correct Answer</label>
          <input type="text" class="form-control" name="correct_option6" id="correct_option6" placeholder="" required>
        </div>
      </section>

      <section class="form-box">
        <div class="mb-3">
          <label for="question" class="form-label">Question 7</label>
          <input type="text" class="form-control" name="question7" id="question7" placeholder="Question" required>
        </div>
        <div class="mb-3">
          <label for="option" class="form-label">Option</label>
          <input type="text" class="form-control" name="options7" id="options7"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options7" id="options7"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options7" id="options7"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options7" id="options7"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
        </div>
        <div class="mb-3">
          <label for="correct_option" class="form-label">Correct Answer</label>
          <input type="text" class="form-control" name="correct_option7" id="correct_option7" placeholder="" required>
        </div>
      </section>

      <section class="form-box">
        <div class="mb-3">
          <label for="question" class="form-label">Question 8</label>
          <input type="text" class="form-control" name="question8" id="question8" placeholder="Question" required>
        </div>
        <div class="mb-3">
          <label for="option" class="form-label">Option</label>
          <input type="text" class="form-control" name="options8" id="options8"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options8" id="options8"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options8" id="options8"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
          <input type="text" class="form-control" name="options8" id="options8"
            placeholder="Option 1, Option 2, Option 3, Option 4" required>
        </div>
        <div class="mb-3">
          <label for="correct_option" class="form-label">Correct Answer</label>
          <input type="text" class="form-control" name="correct_option8" id="correct_option8" placeholder="" required>
        </div>
      </section>







      <button class="mt-5 mb-5 col-6 offset-3">Create</button>
    </form>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

    <script src="/validateForms.js"></script>

</body>

</html>